ul {
	margin-left: 20px;
}

.wtree li {
	list-style-type: none;
	margin: 10px 0 10px 10px;
	position: relative;
}
.wtree li:before {
	content: "";
	position: absolute;
	top: -10px;
	left: -20px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	width: 20px;
	height: 15px;
}
.wtree li:after {
	position: absolute;
	content: "";
	top: 5px;
	left: -20px;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 20px;
	height: 100%;
}
.wtree li:last-child:after {
	display: none;
}
.wtree span {
	display: block;
	position: relative;
	border: 1px solid #ddd;
	padding: 10px;
	color: #888;
	text-decoration: none;
}
.wtree li > span:hover,
.wtree li > span:focus {
	background: #eee;
	color: #000;
	border: 1px solid #aaa;
}
.wtree > span:hover,
.wtree > span:focus {
	background: #eee;
	color: #000;
	border: 1px solid #aaa;
}
.wtree span span { /* Sort button */
	margin-right: 2rem;
	padding: 0;
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	width: 24px;
	height: 24px;
	border: none;
	opacity: 0%;
	cursor: pointer;
}
.wtree span span em { /* Tool-tip for sort button */
	position: absolute;
	top: -28px;
	left: -37px;
	width: 120px;
	background-color: black;
	color: white;
	height: 20px;
	display: block;
	border-radius: 6px;
	font-size: smaller;
	opacity: 0;
	user-select: none;
	text-align: center;
	pointer-events: none;
	transition: 0s opacity;
}
.wtree span span em:after { /* Tool-tip arrow */
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
.wtree span span:hover em {
	opacity: 100%;
	transition-delay: 500ms;
}
.wtree span span.size {
	background-image: url('/assets/img/database-fill.svg');
}
.wtree span span.modified {
	background-image: url('/assets/img/clock-history.svg');
}
.wtree span span.name {
	background-image: url('/assets/img/sort-alpha-down.svg');
}
.wtree span span:before,
.wtree span span:after {
	content: "";
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	width: 18px;
	height: 100%;
	opacity: 50% !important;
}
.wtree span span:before {
	display: block;
	margin-left: 20px;
	background-image: url('/assets/img/arrow-down.svg');
	padding: 0;
}
.wtree span span:after {
	display: block;
	margin-left: 28px;
	margin-top: -100%;
	background-image: url('/assets/img/arrow-up.svg');
}
.wtree span span.up:after {
	opacity: 100% !important;
	filter: drop-shadow(0px 0px 0.1px black) drop-shadow(0px 0px 0.1px black);
}
.wtree span span.down:before {
	opacity: 100% !important;
	filter: drop-shadow(0px 0px 0.1px black) drop-shadow(0px 0px 0.1px black);
}
.wtree span:hover span:hover {
	background-color: transparent;
	opacity: 100%;
}
.wtree span:hover span {
	opacity: 50%;
}
.wtree li span:hover + ul li span,
.wtree li span:focus + ul li span {
	background: #eee;
	color: #000;
	border: 1px solid #aaa;
}
.wtree span:hover + ul li span,
.wtree span:focus + ul li span {
	background: #eee;
	color: #000;
	border: 1px solid #aaa;
}
.wtree li span:hover + ul li:after,
.wtree li span:hover + ul li:before,
.wtree li span:focus + ul li:after,
.wtree li span:focus + ul li:before {
	border-color: #aaa;
}
.wtree span a:hover {
	cursor: pointer;
}
.wtree-details-container {
	position: absolute;
	right: 0.5em;
	top: 50%;
	transform: translate(0, -50%);
}
.wtree-details {
	font-style: normal;
	font-size: small;
}
.wtree-details:last-child {
	padding-left: 5px;
	margin-left: 5px;
	border-left: 1px solid #aaa;
}
