form b {
	white-space: nowrap;
}
form {
	padding-top: var(--padding-full);
	padding-left: var(--padding-full);
}
.card {
	flex: 1;
}
.button-container {
	display: flex;
	gap: var(--padding);
}
.button-container > * {
	flex: 1;
}
.preset-del {
	gap: var(--padding);
}
.menu-list hr {
	opacity: 50%;
	width: 75%;
	border-top: none;
	margin-top: 4px;
	margin-bottom: 4px;
}
.preset-del > button {
	margin-left: auto;
	background-color: transparent;
	border: none;
	color: rgba(255, 255, 255, 0.5);
}
.preset-del > button:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 1);
}
/* Generate barcode */
#barcode-preview {
	height: 100%;
}
#barcode-preview > div {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}
#barcode-preview > div.error {
	height: unset;
}
#barcode-preview > div > svg {
	flex-grow: 1;
}
text {
	font-family: revert-layer; /* In preview font-family in svg text is being ignored */
}
