#table-logging tr td:last-child {
	width: 100%;
}
th {
	text-align: center !important;
}
td {
	font-family: 'Space Mono', monospace;
	font-size: small;
	width: 1rem;
}
.SEVERE {
	box-shadow: inset 0 0 1000px rgba(255, 0, 0, 0.4);
}
.FINE {
	background-color: yellow; 
}
.INFO {
	box-shadow: inset 0 0 1000px rgba(0, 0, 255, 0.4);
}
