@font-face {
	font-family: 'Open Sans';
	src: url(/assets/fonts/open-sans.woff2) format('woff2');
}
@font-face {
	font-family: 'Space Mono';
	src: url(/assets/fonts/space-mono.woff2) format('woff2');
}

:root {
	--common-background-colour: #101820;
	--common-selected-colour: rgb(0, 119, 161);
	--common-highlight: inset 100px 100px 0px 0px rgba(255, 255, 255, 0.3);
	--common-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
	--menu-border-radius: 6px;
	--background-error: #ffecec;
	--background-warning: #fff8c4;
	--background-ok: #e9ffd9;
	--background-info: #e3f7fc;
	--padding: 0.5rem;
	--padding-full: 1rem;
	--border: 1px solid #ccc;
	--border-ncolour: 1px solid;
	--border-error: 1px solid red;
}
* {
	font-family: 'Open Sans', sans-serif;
	-webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
}
a {
	color: inherit;
	*text-decoration: inherit;
}
hr {
	border: var(--border);
}
input:not([type=checkbox]), textarea, select {
	padding: var(--padding);
	border: var(--border);
}
input[type=checkbox] {
	border: var(--border);
}
input:focus, textarea:focus, select:focus {
	outline: var(--border-ncolour) var(--common-selected-colour) !important;
	border: var(--border-ncolour) var(--common-selected-colour);
}
input:focus[type=checkbox] {
	outline: none !important;
	border: var(--border);
}
input[type=checkbox] {
	outline: none !important;
}
input:hover, textarea:hover, select:hover {
	outline: var(--border);
}
input.error {
	border: var(--border-error);
}
input.error:focus, textarea.error:focus, select.error:focus {
	border: var(--border-error);
	outline: var(--border-error) !important;
}
input.error:hover, textarea.error:hover, select.error:hover {
	outline: var(--border-error) !important;
}
input:disabled {
	cursor: not-allowed !important;
}
.checkbox-container {
	display: inline-flex;
	gap: var(--padding);
	align-items: center;
	cursor: pointer;
	flex: 1;
}
.checkbox-container input[type=checkbox] {
	appearance: none;
	height: 1.5rem;
	width: 1.5rem;
	position: relative;
	margin: 0;
	cursor: pointer;
	transition: 0.3s;
	background-color: transparent;
	outline: none;
}
.checkbox-container input[type=checkbox]:after {
	content: "";
	display: block;
	position: absolute;
	border: 2px solid var(--b, transparent);
	border-top: 0;
	border-left: 0;
	width: 5px;
	height: 9px;
	left: 9px;
	top: 5px;
	transform: rotate(var(--r, 20deg));
	transition: 0.3s;
}
.checkbox-container input[type=checkbox]:checked,
.switch-container input:checked + span {
	background-color: var(--common-background-colour);
	border: 1px solid var(--common-background-colour);
}
.checkbox-container input[type=checkbox].keep-boarder:checked {
	border: var(--border);
}
.checkbox-container:has(input[type=checkbox]:disabled),
.switch-container:has(input[type=checkbox]:disabled) {
	opacity: 50%;
	cursor: not-allowed;
}
.checkbox-container input[type=checkbox]:checked {
	--r: 43deg;
	--b: white;
}
.checkbox-container * {
	box-sizing: inherit;
}
.switch-container {
	position: relative;
	display: inline-block;
	width: 3.5em;
	height: 2em;
}
.switch-container input[type="checkbox"] {
	display: none;
}
.switch-container span {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: var(--border);
	transition: 0.3s ease;
	border-radius: 30px;
}
.switch-container span:before {
	position: absolute;
	content: "";
	height: 1.4em;
	width: 1.4em;
	border-radius: 100%;
	left: 0.27em;
	bottom: 0.25em;
	background-color: #ccc;
	transition: 0.3s ease;
}
.switch-container input:checked + span:before {
	transform: translateX(1.4em);
	background-color: #fff;
}
.monospace, .monospace * {
	font-family: 'Space Mono', monospace;
}
.font-small {
	font-size: small;
}
.header-root {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 3rem;
	background-color: #080c10;
	z-index: 10;
}
.header-root-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.header-root-container > a {
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	font-size: smaller;
}
.header-root-container > span {
	color: rgba(255, 255, 255, 0.5);
	font-size: smaller;
	padding: 0.25rem;
}
.header-root-container > a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	opacity: 100% !important;
}
.header-root-container > a:first-of-type {
	margin-right: auto;
}
.header-root-container > a:last-of-type {
	background-image: url('/assets/img/house-door-fill.svg');
	background-repeat: no-repeat;
	background-position: center;
	padding: 1rem;
	filter: invert(1);
	opacity: 50%;
}
.head-logo {
	display: flex;
	align-items: center;
	width: 12rem;
	height: 100%;
	color: white;
	margin-right: auto;
	gap: 0.5rem;
}
.head-logo > img {
	height: 64%;
	margin: 0.5rem;
	filter: invert(1);
	opacity: 50%;
}
.header-item {
	width: 3rem;
	height: 3rem;
	transition: 0.3s ease;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-item:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.header-item::before {
	content: '';
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
	display: block;
	width: 100%;
	height: 100%;
	filter: invert(1);
	opacity: 50%;
	position: absolute;
}
.header-item:hover::before {
	opacity: 100%;
}
.header-user {
	display: block;
}
.header-user::before {
	background-image: url(/assets/img/person-circle.svg);
}
.header-label-top {
	text-align: center;
	background-color: var(--common-selected-colour);
	color: white;
	padding-left: var(--padding);
	padding-right: var(--padding);
}
.header-label-top:hover {
	cursor: default !important;
}
.header-user > ul {
	background-color: #101820;
	position: absolute;
	right: 0;
	display: none;
}
.header-item > ul {
	background-color: #101820;
	display: none;
	top: 100%;
}
.header-item:hover > ul {
	display: block;
}
.nav-area {
	background-color: var(--common-background-colour);
	min-width: 12rem;
}
.nav-area ul {
	list-style: none;
}
.main-content {
	position: relative;
	display: flex;
	height: 100vh;
}
.main-content-wrapper {
	padding: 0.5rem;
	flex: 1;
	height: calc(100vh - 4rem);
	overflow-y: scroll;
	margin-top: 3rem;
}
#nav-toggle {
	display: flex;
	z-index: 20;
	width: 0;
	user-select: none;
	align-items: center;
	justify-content: center;
}
.menu-list a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	transition: 0.3s ease;
	*display: inline-block;
	display: flex;
	align-items: center;
    *width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available; /* Not supported 01/2024 */
    height: 100%;
    padding: 0.5rem;
}
.menu-list a.icon:before {
	content: '';
	height: 2rem;
	width: 2rem;
	transition: 0.3s ease;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	margin-right: 1rem;
	filter: invert(100%);
	opacity: 0.5;
	background-size: contain;
}
.menu-list .menu-list-btn {
	padding: var(--padding) var(--padding) 0 var(--padding);
	text-align: center;
	cursor: default !important;
}
.menu-list .menu-list-btn:first-child,
.menu-list .menu-list-btn:last-child {
	padding-bottom: var(--padding);
}
.menu-list menu-list-btn button {
	padding: var(--padding);
}
.icon-folder:before {
	background-image: url('/assets/img/folder-fill.svg');
}
.icon-tape:before {
	background-image: url('/assets/img/cassette-fill.svg');
}
.icon-drive:before {
	background-image: url('/assets/img/hdd-fill.svg');
}
.icon-jobs:before {
	background-image: url('/assets/img/list-fill.svg');
}
.icon-admin:before {
	background-image: url('/assets/img/person-fill.svg');
}
.icon-sandpit:before {
	background-image: url('/assets/img/bucket-spade-fill.svg');
}
.icon-edit:before {
	background-image: url('/assets/img/pencil-fill.svg');
}
.icon-check:before {
	background-image: url('/assets/img/check-lg.svg');
}
.icon-cross:before {
	background-image: url('/assets/img/x.svg');
}
.icon-box-arrow-right:before {
	background-image: url('/assets/img/box-arrow-right.svg');
}
.icon-printer:before {
	background-image: url('/assets/img/printer-fill.svg');
}
.icon-arrow-repeat:before {
	background-image: url('/assets/img/arrow-repeat.svg');
}
.icon-pdf:before {
	background-image: url('/assets/img/file-earmark-pdf-fill.svg');
}
.icon-svg:before {
	background-image: url('/assets/img/filetype-svg.svg');
}
.icon-highlights:before {
	background-image: url('/assets/img/highlights.svg');
}
.icon-bell:before {
	background-image: url('/assets/img/bell-fill.svg');
}
.icon-funnel::before {
	background-image: url(/assets/img/funnel-fill.svg);
}
.icon-caret-down::before {
	background-image: url(/assets/img/caret-down-square-fill.svg);
}
.icon-plus-square::before {
	background-image: url(/assets/img/plus-square-fill.svg);
}
.icon-info-circle::before {
	background-image: url(/assets/img/info-circle-fill.svg);
}
.icon-download::before {
	background-image: url(/assets/img/download.svg);
}
.icon-file-text::before {
	background-image: url(/assets/img/file-text-fill.svg);
}
.menu-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	width: max-content;
}
.menu-list a:hover:before,
.menu-list a.selected:before  {
	opacity: 1;
}
.menu-list li a.selected {
	background-color: var(--common-selected-colour);
}
.menu-list a:hover,
.menu-list a.selected {
	color: rgba(255, 255, 255, 1);
}
.menu-list a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.menu-list a.selected:hover {
	opacity: 0.75;
}
.menu-list li:hover {
	cursor: pointer;
}
#nav-toggle input {
	display: block;
	width: 0;
	height: 0;
	position: fixed;
	margin: 0;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
}
#nav-menu {
	position: absolute;
	width: 12rem;
	top: 3rem;
	margin: 0;
	left: 0;
	background: #101820;
	padding: 0;
	transform-origin: 0% 0%;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	box-sizing: border-box;
	overflow-x: clip;
}
.btn {
	align-items: center;
	background-clip: padding-box;
	background-color: var(--common-background-colour);
	border: 1px solid transparent;
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
	font-size: inherit;
}
.btn-menu-list {
	width: 100%;
	padding: var(--padding);
	min-height: unset;
}
.btn-s {
	align-items: center;
	background-clip: padding-box;
	background-color: black;
	border: 1px solid transparent;
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	margin: 0;
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: 24px;
} /**https://cdn.ourcodeworld.com/public-media/gallery/gallery-573b12c47e54c.png*/
.btn:hover,
.btn:focus,
.btn-s:hover,
.btn-s:focus {
	box-shadow: var(--common-highlight), var(--common-shadow);
	text-decoration: none !important;
}
.btn:hover,
.btn-s:hover {
	transform: translateY(-1px);
}
.btn:active,
.btn-s:active {
	background-color: rgb(32, 74, 135);
	box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
	transform: translateY(0);
}
.btn-image:before {
	content: '';
	background-size: contain;
	height: 1rem;
    width: 1rem;
    filter: invert(100%);
    background-repeat: no-repeat;
    background-position: center;
}
.btn-image-w-text:before {
	margin-right: 0.5rem;
}
.background-error {
	background-color: red;
}
.background-caution {
	background-color: darkorange;
}
.background-active {
	background-color: teal;
}
.background-gray {
	background-color: gray;
}
.background-green {
	background-color: green;
}
.table {
	border-collapse: collapse;
	width: 100%;
}
.table td,
.table th {
	border: 1px solid #ddd;
	padding: 8px;
}
.table tr:nth-child(even) { background-color: #f2f2f2; }
.table tr:hover { background-color: #ddd; }
.table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}
#toast {
	display: block !important;
	visibility: visible;
	opacity: 0;
	min-width: min(75%, 25rem);
	transform: translateX(-50%);
	color: white;
	background-color: black;
	text-align: center;
	border-radius: var(--menu-border-radius);
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 4rem;
	max-width: 5rem;
	pointer-events: none;
}
#toast.error {
	background-color: #e51c23;
}
#toast.warning {
	background-color: #ff9800;
}
#toast.good {
	background-color: #4caf50;
}
#toast.info {
	background-color: #3465A4;
}
#toast.show {
	animation: showtoast 0.5s;
	opacity: 1;
	transition: opacity 0.5s;
	pointer-events: all;
}
#toast.hide {
	opacity: 0;
	transition: all 0.5s;
	pointer-events: none;
}
@keyframes showtoast {
	from { transform: translateY(-2rem) translateX(-50%); }
	to { transform: translateY(0) translateX(-50%); }
}
#toast-cross {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 2.5rem;
	height: 2.5rem;
	float: right;
	background-color: transparent;
	font-size: 2rem;
	line-height: 2rem;
	border: none;
	color: white;
	opacity: 70%;
	cursor: pointer;
}
#toast-cross:hover {
	opacity: 1;
}
#toast div {
	padding: 8px;
}
#toast-message {
	padding-left: 3rem;
	padding-right: 3rem;
}
.inline-message {
	border-radius: var(--menu-border-radius);
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.inline-message.error {
	background-color: var(--background-error);
	border: 1px solid #f9cbc8;
}
.inline-message.warning {
	background-color: var(--background-warning);
	border: 1px solid #f7deae;
}
.inline-message.ok {
	background-color: var(--background-ok);
	border: 1px solid #c9e0b7;
}
.inline-message.info {
	background-color: var(--background-info);
	border: 1px solid #b9e7f9;
}
.inline-message span {
	width: 2rem;
	height: 2rem;
	margin-right: 1rem;
	-webkit-mask-size: 2rem;
	mask-size: 2rem;
}
.inline-message a {
	margin-left: auto;
	font-style: italic;
}
.inline-message a:hover {
	text-decoration: underline;
	cursor: pointer;
}
.inline-message > div {
	width: 100%;
	padding-top: 1rem;
}
.inline-message > div > div {
	line-break: anywhere;
}
.inline-message > div > div:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.5);
}
.inline-message.error > div > div:hover {
	background-color: rgba(255, 0, 0, 0.25);
}
.inline-message.error span {
	background-color: red;
	-webkit-mask-image: url(/assets/img/x-circle-fill.svg);
	mask-image: url(/assets/img/x-circle-fill.svg);
}
.inline-message.warning span {
	background-color: orange;
	-webkit-mask-image: url(/assets/img/exclamation-circle-fill.svg);
	mask-image: url(/assets/img/exclamation-circle-fill.svg);
}
.inline-message.ok span {
	background-color: green;
	-webkit-mask-image: url(/assets/img/check-circle-fill.svg);
	mask-image: url(/assets/img/check-circle-fill.svg);
}
.inline-message.info span {
	background-color: blue;
	-webkit-mask-image: url(/assets/img/info-circle-fill.svg);
	mask-image: url(/assets/img/info-circle-fill.svg);
}
.inline-details-content {
	display: none;
}
.inline-details-link:focus + .inline-details-content {
	display: block;
}
.inline-details-content:focus-within,
.inline-details-content:active,
.inline-details-content:focus {
	display: block !important;
}
.inline-details-content p {
	margin: 0;
}
/* others
https://codepen.io/crayon-code/pen/eYdVLJo
https://codepen.io/sudeepgumaste/pen/abdrorB
*/
@keyframes loading-animation {
	0%, 100% {
		transform: scale(0.2);
	}
	50% {
		transform: scale(1);
	}
}
.loading-container {
	display: flex;
	justify-content: center;
}
.loading-container div {
	height: 1rem;
	width: 1rem;
	background-color: var(--common-background-colour);
	border-radius: 50%;
	animation: loading-animation 1.5s ease-in-out infinite;
	transform: scale(0.2);
	margin: .5rem;
}
.loading-container div:nth-child(0) {
	animation-delay: 0s;
}
.loading-container div:nth-child(1) {
	animation-delay: 0.1s;
}
.loading-container div:nth-child(2) {
	animation-delay: 0.2s;
}
.loading-container div:nth-child(3) {
	animation-delay: 0.3s;
}
.loading-container div:nth-child(4) {
	animation-delay: 0.4s;
}
.loading-container div:nth-child(5) {
	animation-delay: 0.5s;
}
.card {
	border-radius: var(--menu-border-radius);
	border: 2px solid;
	padding: 1rem;
	position: relative;
	margin-top: 1rem;
}
.card:before {
	content: attr(data-header-text);
	background-color: white;
	position: absolute;
	top: -12px;
	padding: 0 10px;
}
.common-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.common-container-no-align {
	display: flex;
	gap: 1rem;
}
.common-container-centre {
	justify-content: center;
}
.common-padding-full {
	padding: var(--padding-full);
}
.gap-none {
	gap: 0;
}
.gap-half {
	gap: 0.5rem;
}