@property --p {
	syntax: '<number>';
	inherits: true;
	initial-value: 0;
}
:root {
	--pie-info-size: 1.5rem;
}
.pie-container {
	display: flex;
	gap: 1rem;
}
.pie-item {
	display: flex;
	flex-direction: column;
}
.pie-item > div:nth-child(1) {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.pie-item > div:nth-child(2) {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.pie-item > div:nth-child(2) > i {
	text-align: center;
	padding: 0.5rem;
	font-size: large;
}
.pie-item > div > table {
	display: contents;
}
.pie-item > div > table td {
	text-align: right;
}
.pie {
	--p: 20;
	--b: 22px;
	--c: darkred;
	--w: 150px;
	width: var(--w);
	aspect-ratio: 1;
	position: relative;
	display: inline-grid;
	margin: 5px;
	place-content: center;
	font-size: 25px;
	font-weight: bold;
	animation: pie-animate 1s .5s both;
	margin: auto;
	border-radius: 50%;
}
.pie:before {
	content: "";
	position: absolute;
	border-radius: 50%;
	inset: 0;
	background-color: #eee !important;
	background:
		radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
		conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
	-webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
	mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
	background-size: 0 0, auto;
}
.pie:hover:before {
	filter: brightness(0.95);
}
.pie-info {
	position: absolute;
	right: 0;
	bottom: 0;
	width: var(--pie-info-size);
	height: var(--pie-info-size);
	z-index: 1;
}
.pie-info:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #eee;
	-webkit-mask-image: url(/assets/img/info-circle-fill.svg);
	mask-image: url(/assets/img/info-circle-fill.svg);
	-webkit-mask-size: var(--pie-info-size);
	mask-size: var(--pie-info-size);
	width: var(--pie-info-size);
	height: var(--pie-info-size);
}
.pie-info:hover:before {
	filter: brightness(0.7);
}
.pie-tooltip {
	position: relative;
	background-color: var(--common-background-colour);
	color: white;
	display: block;
	border-radius: var(--menu-border-radius);
	font-size: smaller;
	opacity: 0;
	user-select: none;
	text-align: center;
	pointer-events: none;
	transition: 0s opacity;
	padding: 0px 8px;
}
.pie-tooltip:after { /* Tool-tip arrow */
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
.pie-info:hover .pie-tooltip {
	opacity: 100%;
	transition-delay: 500ms;
}
@keyframes pie-animate {
	from {--p: 0}
}
