/*form {
	width: fit-content; TODO why was added?
}*/
.form-grid {
	display: grid;
	grid-template-columns: fit-content(20%) minmax(auto, 20rem);
	align-items: center;
	gap: var(--padding);
}
.form-grid label {
	white-space: nowrap;
	font-weight: bold;
}
.form-grid input[type="checkbox"] {
	margin-right: auto;
}
.form-buttons {
	display: flex;
	gap: var(--padding);
	align-items: center;
}
.form-buttons > *:first-child {
	margin-left: auto;
}
.modal-container {
	display: flex;
	gap: var(--padding);
}
.modal-container > * {
	flex: 1;
}
/* https://semantic-ui.com/ for radio group*/
/* https://getcssscan.com/css-checkboxes-examples 64 */
